files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/98_build_app.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            echo "Running laravel migrations" >> /var/log/eb-activity.log
            sh -c "php yii migrate --interactive=0 || echo Migrations didnt run" >> /var/log/eb-activity.log 2>&1